<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem ducimus unde
  incidunt facilis dignissimos sed nihil rem minima? Recusandae, reiciendis quis
  aut facere molestiae error perferendis quos repellat eveniet velit? Lorem
  ipsum dolor sit amet consectetur adipisicing elit. Fugiat eligendi iusto
  deleniti tempore omnis rem explicabo, cumque iste expedita saepe voluptas at
  assumenda ratione sint necessitatibus nemo recusandae et eos.
</p>
