<div class="card animated fadeIn fast" style="width: 18rem;">
    <img src="../../assets/images/{{ imagen }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ nombre }}</h5>
      <p class="card-text">{{ bio }}</p>
      <p class="card-text"><small class="text-muted">{{ aparicion }}</small></p>
      <button class="btn btn-outline-primary btn-block mb-2" [routerLink]="['/info',id]">Ver mas...</button>
      <a class="btn btn-success btn-block" [routerLink]="['/heroes']" *ngIf="liked == false" (click)="makeFav()">Añadir a favoritos</a>
      <a class="btn btn-danger btn-block" [routerLink]="['/heroes']" *ngIf="liked == true" (click)="makeFav()">Eliminar de favoritos</a>
    </div>
</div>